@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body{
  background-color: #010417;
  background-image: url(../public/landingpgebackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -350px;
}